@import "../../../styles/variables";

.footer {
  background-color: #f8f8fa;
  padding: $spacing-large * 2 0;
  border-top: 1px solid $border-color;
  color: $font-color-secondary;
  font-size: 14px;
  line-height: 1.6;
  flex-shrink: 0; // 푸터가 축소되지 않도록
  
  a {
    color: $font-color-secondary;
    text-decoration: none;
    &:hover {
      color: $primary-color;
    }
  }

  .footer-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: $spacing-large * 2;
    padding: 0 $spacing-large;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
      gap: $spacing-large;
    }

    .company-info {
      flex: 2;
      max-width: 350px;

      .logo {
        font-size: 24px;
        font-weight: 700;
        color: $font-color-primary;
        margin-top: 0;
        margin-bottom: $spacing-medium;
      }

      p {
        margin-bottom: $spacing-medium * 2;
      }

      .social-links {
        display: flex;
        gap: $spacing-medium;

        .social-icon {
          width: 24px;
          height: 24px;
        }
      }
    }

    .customer-service,
    .company-details {
      flex: 1;
      min-width: 150px;

      @media (max-width: 768px) {
        border-top: 1px solid $border-color;
        padding-top: $spacing-medium;
      }

      .section-title {
        font-size: 16px;
        font-weight: 700;
        color: $font-color-primary;
        margin-top: 0;
        margin-bottom: $spacing-large;
      }

      ul {
        list-style: none;
        padding: 0;
        margin: 0;
        
        li {
          margin-bottom: $spacing-small;
        }
      }
    }
  }

  .copyright {
    border-top: 1px solid $border-color;
    margin-top: $spacing-large * 2;
    padding-top: $spacing-medium;
    font-size: 12px;
    color: $font-color-secondary;
    max-width: 1200px;
    margin: $spacing-large * 2 auto 0 auto;
    padding: $spacing-medium $spacing-large;
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
      margin: 0;
    }

    .payment-icons {
      display: flex;
      gap: $spacing-small;
      
      img {
        height: 20px;
        opacity: 0.7;
      }
    }

    @media (max-width: 768px) {
      flex-direction: column;
      gap: $spacing-small;
      padding: $spacing-medium;
    }
  }
}